
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: repeat(4, 1.3fr);
}

.header {
    background-color: white;
    display: grid;
    grid-column: 2 / span 5;
    grid-template-columns: repeat(31, 50px);
    grid-template-rows: repeat(2, 100px);
}

.search {
    display: grid;
    grid-column: 2 / 20;
    font-size: 25px;
    margin-top: 20px;
    align-items: start;
}

.icon {
    margin-top: 7px;
}

.search-bar {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 20;
    height: 35px;
    border-radius: 50px;
    background-color: #cbd5e1;
}

.user-info {
    display: grid;
    grid-column: 23 / 30;
    grid-row: 1 / 2;
    margin-top: 20px;
    align-items: start;
    grid-auto-flow: column;
    font-size: 25px;
    grid-gap: 15px;
}

.name {
    
    margin-top: -2px;
}

.pp {
    font-size: 40px;
    margin-top: -9px;
}

.bell {
    margin-right: 20px;
}

.user-intro {
    display: grid;
    grid-column: 2 / 10;
    grid-auto-flow: column;
}

.logo {
    display: grid;
    grid-row: 2;
    font-size: 50px;
    margin-top: 10px;
}

.user-intro > h3 {
    display: grid;
    grid-row: 2;
    grid-column: 2 / 7;
    justify-self: start;
    font-weight: 1000;
}

.user-intro > p {
    margin-bottom: -20px;
    font-size: 15px;
    font-weight: 700;
}

.intro-text {
    margin-top: 33px;
}


.btns {
    display: grid;
    grid-column: 21 / 30;
    grid-auto-flow: column;
    height: 50px;
    margin-top: 35px;
    
}

.btn {
    width: 90px;
    height: 40px;
    background-color: #38bdf8;
    border: none;
    border-radius: 50px;
}



.sidebar {
    background-color: #38bdf8;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / span 5;
    grid-template-columns: 350px;
    grid-template-rows: repeat(3, 150px) 100px repeat(3, 100px);
}
.text {
    color: white;
    font-size: 23px;
    margin-left: 25px;
}

.title {
    margin-top: 20px;
    font-size: 2em;
}

.navigation {
    display: grid;
    grid-row: 2 / 4;
}

.branding {
    display: grid;
    grid-row: 5 / 7;
}



.main {
    background-color: #cbd5e1;
    width: 100vw;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(31, 50px);
    grid-template-rows: 70px 220px 220px 70px 110px 220px ;
}

.project-heading {
    padding-left: 20px;
    display: grid;
}

.project-tile {
    height: 180px;
    width: 350px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid orange;
}


.projects {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-row: 2 / span 2; 
    padding-left: 20px;
    column-gap: 40px;
    row-gap: 20px;
}



.announcement-heading {
    display: grid;
    grid-column: 18;
    grid-row: 1;
}

.announcement {
    background-color: white;
    grid-column: 18 / 25;
    grid-row: 2 / 4;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.trending-heading {
    display: grid;
    grid-column: 18;
    grid-row: 4;
}

.trending {
    background-color: white;
    grid-column: 18 / 25;
    grid-row: 5 / 7;
    margin-bottom: 15px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 25px;
}



.profile-pic {
    font-size: 40px;
    grid-column: 21 / 21;
    display: grid;
    align-self: center;
    justify-self: center;
}

.user-name {
    margin-left: 60px;
    margin-top: -39px;
}

.work {
    margin-left: 60px;
    margin-top: -13px;
    font-size: small;
    padding-bottom: 15px;
}